<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/websocket.js}"></script>

</head>
<body class="bg-light">
<div class="container">
    <main>
        <table class="table table-striped pt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Patient</th>
                <th scope="col">Medical</th>
                <th scope="col">Doctor</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="therapy : ${cases}">
                <th scope="row"></th>
                <td th:text="${therapy.patient}"></td>
                <td th:text="${therapy.medical}"></td>
                <td th:text="${therapy.doctor}"></td>
                <td th:text="${therapy.date}"></td>
                <td th:text="${therapy.time}"></td>
                <td th:text="${therapy.status}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>